# ── FastAPI App ────────────────────────────────────────────────────────────────
APP_PORT=8000

# ── Prometheus ─────────────────────────────────────────────────────────────────
PROMETHEUS_PORT=9090

# ── Alertmanager ───────────────────────────────────────────────────────────────
ALERTMANAGER_PORT=9093

# ── Grafana ────────────────────────────────────────────────────────────────────
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# ── Loki ───────────────────────────────────────────────────────────────────────
LOKI_PORT=3100

# ── Node Exporter ──────────────────────────────────────────────────────────────
NODE_EXPORTER_PORT=9100

# ── cAdvisor ───────────────────────────────────────────────────────────────────
CADVISOR_PORT=8080
